

.loginContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginSubheader {
  font-weight: 700;
  font-size: 18px;
  padding: 22px 44px;
  width: 395px;
  text-align: center;
}
.loginMainHeader {
  font-weight: 700;
  font-size: 36px;
  color: #0298bf;
  padding-top: 20px;
}

.userField,
.passwordField {
  width: 388px;
}
.passwordFieldMargin {
  margin-top: 22px;
}
.SignupButton {
  margin-top: 34px;
}
.backForgotPassword {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  height: 31px;
  align-items: center;
}
.back {
  border-right: 1px solid;
  padding-right: 10px;
  color: #0298bf;
}
.forgotPassword {
  padding-left: 10px;
}
