@media only screen and (max-width: 1200px) {
  //<<<<<<<---------Login------->>>>>>>
  .Logo_Banner {
    left: 10% !important;
  }
  .institutionalWrapper {
    height: max-content !important;
    padding: 3rem 0 !important;
  }
  .Form_wrp {
    min-width: 400px !important;
  }
  .loginMainHeader {
    font-size: 29px !important;
    padding-top: 21px !important;
  }
  .loginSubheader {
    font-size: 13px !important;
    padding: 24px 41px !important;
    width: 395px !important;
  }
  .instututionalloginSubheader {
    font-size: 21px !important;
    margin-bottom: 20px !important;
  }
  .LoginWrapper {
    height: max-content;
    padding: 3rem 0;
  }
  //<<<<<<<---------Login-----end---here---->>>>>>>
  //<<<<<<<---------Home-------->>>>>>>
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content h1 {
    font-size: 1.7em;
  }
  //<<<<<<<-----------Home---end---here---->>>>>>>
}
@media only screen and (max-width: 1024px) {
  .Ebook-Content_Wrp button:nth-child(odd) {
    transform: translateX(133px) !important;
  }
  .Ebook-Content_Wrp button:nth-child(even) {
    transform: translateX(-116px) !important;
  }

  .Ebook_Wrapper .MagnifierFont_Btn {
    width: 250px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h2 {
    font-size: 1.9em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h5 {
    padding: 0.5rem 0;
    font-size: 1em;
    line-height: 23px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button
    a {
    font-size: 1em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button {
    width: 190px;
    height: 40px;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading h2 {
    padding: 0 0 0 0rem;
    font-size: 1.3em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    figcaption
    p {
    font-size: 0.79em;
    word-break: break-word;
  }
  .Save_Content_wrp .Save_Content {
    height: max-content !important;
  }
  // <<<<<<-----------Footer------>>>>>>>>>

  .Footer_Wrapper .Footer_Content {
    grid-gap: 9rem;
  }
  .Footer_Wrapper .Footer_Content .foot_item ul li a {
    font-size: 0.79em;
  }

  // <<<<<<-----------Footer---end---here--->>>>>>>>>
}
@media only screen and (max-width: 992px) {
  .Ebook_Wrapper .Ebook-Content_Wrp {
    width: 64%;
  }
  .Ebook_Wrapper .MagnifierFont_Btn {
    width: 340px;
  }
  .Description_wrapper .Otherbook_Wrapper .Grid_Carousel_wrp .Grid-item figure {
    height: 209px !important;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content {
    width: 50%;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h2 {
    font-size: 1.2em;
    line-height: 30px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button
    a {
    font-size: 0.89em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About-book-detail
    > ul
    li
    strong {
    font-size: 15px;
  }
  .Description_wrapper
    .Otherbook_Wrapper
    .Grid_Carousel_wrp
    .Grid-item
    figcaption
    h3 {
    font-size: 15px;
  }
  .Logo_Banner {
    padding-left: 4rem !important;
  }
  // <<<<<<-----------Footer------>>>>>>>>>
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem 1rem;
  }
  .Description_wrapper .Description_Content .Description_Left figure img {
    max-width: 43%;
  }
  // <<<<<<-----------Footer--end--here---->>>>>>>>>
}
@media only screen and (max-width: 800px) {
  .Description_wrapper .Description_Content {
    padding: 6rem 0 2rem;
    grid-template-columns: 250px 1fr;
    grid-gap: 1rem;
    width: 91%;
    margin: 0 auto;
  }

  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    width: 53%;
    left: 20%;
    top: -49px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content
    button {
    height: 38px;
    width: 90px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: 250px max-content;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .rect_Wrp {
    width: 100%;
    height: 24px;
  }
  .Main_HomeWrapper .Category_Wrapper {
    padding: 5rem 0 1rem;
  }

  .Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp {
    padding: 2.5rem 0 1rem;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content h1 {
    font-size: 1.2em;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content p {
    padding: 1rem 0 0;
    font-size: 15px;
  }

  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap img {
    width: 18px;
    height: 18px;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content
    .Grid-item
    figcaption
    h3 {
    font-size: 15px;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
  }

  .SaveMain_Wrapper .Save_Content_wrp {
    padding: 4rem 0 3rem;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-gap: 3rem 1rem;
  }
  // <<<<<<-----------Footer------>>>>>>>>>
  .Footer_Wrapper .Footer_Content {
    grid-gap: 6rem;
  }
  .Footer_Wrapper .Footer_Content .foot_item .Heading_wrp h2 {
    font-size: 0.9em;
  }
  .Footer_Wrapper .Footer_Content .foot_item ul li a {
    font-size: 0.75em;
  }
  .Footer_Wrapper .Footer_Content .foot_item ul li {
    padding: 0.4rem 0;
  }

  // <<<<<<-----------Footer---end---here--->>>>>>>>>
}

@media only screen and (max-width: 768px) {
  .Ebook_Wrapper .About_Book .About-book-title h2 {
    font-size: 1.9em;
    line-height: 36px;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_img img {
    height: 286px;
  }
  .Ebook_Wrapper .MagnifierFont_Btn .zoom_button {
    transform: translateY(-24px);
  }
  .Ebook-Content_Wrp button:nth-child(odd) {
    transform: translateX(140px) !important;
  }
  .Ebook-Content_Wrp button:nth-child(even) {
    transform: translateX(-137px) !important;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .SaveBook_Grid
    .Grid-item
    figure {
    height: 250px !important;
  }
  .Description_wrapper .Description_Content .Description_Left {
    text-align: center;
  }
  .Description_wrapper .Description_Content {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  .Profile_Wrapper {
    top: 12px;
    right: 30px;
  }
  .Main_HomeWrapper {
    padding: 3.3rem 0 0;
  }
  .Main_HomeWrapper .Banner_Wrapper {
    height: 300px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: 218px max-content;
  }
  .Profile_Wrapper .Profilebtn {
    font-size: 12px;
  }
  .Footer_Wrapper .Footer_Content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14rem;
  }
  .loginMainHeader {
    font-size: 1.8em !important;
  }
  // <<<<<<-----------Footer------>>>>>>>>>
  .Footer_Wrapper .Footer_Content {
    grid-gap: 0.5rem;
  }
  // <<<<<<-----------Footer---end---here--->>>>>>>>>
  .LoginUsers {
    input {
      padding: 9.5px 14px !important;
    }
    .MuiInputLabel-outlined {
      transform: translate(14px, 11px) scale(1);
      font-size: 14px !important;
    }
  }
  .loginContainer {
    width: 90% !important;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 557px) {
  .Ebook_Wrapper .About_Book .About-book-title h2 {
    font-size: 1.5em;
    line-height: 36px;
  }

  .Ebook_Wrapper .Ebook-Content_Wrp {
    width: 83%;
  }
  .Logo_Banner {
    padding-left: 3rem !important;
  }

  .Main_HomeWrapper .Banner_Wrapper .Banner_Content {
    top: 25%;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_img img {
    height: 260px;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .SaveBook_Grid
    .Grid-item
    figure {
    height: 200px !important;
  }
  .Save_Content_wrp .Save_Content .SaveBook_Grid .Grid-item figcaption h3 {
    font-size: 0.89em;
  }
  .Profile_Wrapper .Profilebtn {
    font-size: 11px;
  }
  .Profile_Wrapper {
    top: 4px;
    right: 22px;
  }
  .Profile_Wrapper .Profilebtn {
    padding: 0.3rem 0.5rem !important;
    grid-template-columns: 130px 20px;
    grid-gap: 0.5rem;
    span {
      word-break: break-word !important;
    }
  }
  .Main_HomeWrapper .Banner_Wrapper {
    height: 270px;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content {
    width: 85%;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    width: 74%;
    left: 13%;
    top: -49px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: 200px max-content;
    justify-content: space-between;
  }

  .Main_HomeWrapper .Banner_Wrapper .Banner_Content p {
    padding: 1rem 0 0;
    font-size: 13px;
  }
  .LoginWrapper {
    display: block !important;
    .loginSubheader {
      width: auto;
      padding: 22px 13px;
    }
    .LoginUsers {
      width: 90%;
      .passwordField {
        width: 100%;
      }
    }
  }
  .MainCard_Wrp {
    .card_Wrapper {
      width: 90%;
      min-width: auto !important;
      margin: 0 auto;
      padding: 0 1rem;
    }
  }
  .Description_wrapper .Otherbook_Wrapper .Grid_Carousel_wrp .Grid-item figure {
    height: 124px !important;
  }
  .root_wrapper {
    min-width: 90% !important;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  .Ebook_Wrapper .About_Book .About-book-title h5 {
    font-size: 1em;
  }
  .Ebook_Wrapper .About_Book .About-book-title h2 {
    font-size: 1.3em;
    line-height: 36px;
  }
  .Ebook_Wrapper .MagnifierFont_Btn {
    width: 294px;
  }
  .Ebook-Content_Wrp button:nth-child(odd) {
    transform: translateX(114px) !important;
  }
  .Ebook-Content_Wrp button:nth-child(even) {
    transform: translateX(-106px) !important;
  }

  .Main_HomeWrapper .Banner_Wrapper .Banner_Content {
    top: 21%;
  }
  .stack_Wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .root_wrapper {
    min-width: 80% !important;
    margin: 0 auto;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 1rem;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button {
    width: 130px;
    height: 40px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button
    a {
    font-size: 0.79em;
    grid-gap: 0.7rem;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading h2 {
    font-size: 1.11em;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading {
    padding: 1.2rem 0;
  }
  .Description_wrapper .Otherbook_Wrapper {
    padding: 0rem 0 1.5rem;
  }
  .Description_wrapper .Otherbook_Wrapper .Grid_Carousel_wrp {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 1rem;
  }
  .Description_wrapper .Description_Content .Description_Left figure img {
    max-width: 50%;
  }
  .Description_wrapper .Description_Content {
    padding: 2.5rem 0 2rem;
  }
  .mainContainer :first-child img {
    margin: 1rem 0.5rem 0.5rem !important;
    width: 35px !important;
    height: 30px !important;
  }
  .Logo_Banner {
    margin-left: 2.3rem !important;
  }
  .mainContainer .vani img {
    width: 42px !important;
  }
  .mainContainer .englishLogo img {
    margin: 1rem 0.5rem 0.5rem !important;
    width: 60px !important;
    height: 35px !important;
  }
  //<<<<<<<---------Login--------->>>>>>>
  .LoginWrapper {
    .Form_wrp {
      width: 100% !important;
    }
  }

  .loginContainer {
    margin-top: 4rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .loginMainHeader {
    font-size: 26px !important;
    padding-top: 4px !important;
  }
  .loginSubheader {
    font-size: 12px !important;
    padding: 16px 5px !important;
    width: auto !important;
  }
  .instututionalloginSubheader {
    font-size: 20px !important;
    margin-bottom: 13px !important;
  }
  .backForgotPassword {
    margin-top: 24px !important;
    height: auto !important;
  }
  .MuiFormLabel-root {
    font-size: 13px !important;
  }

  .Form_wrp {
    min-width: auto !important;
    width: 80% !important;
  }
  .institutionalWrapper {
    display: block !important;
  }
  .Form_Wrapper {
    width: 100% !important;
    min-width: 100% !important;
  }
  .Institutional_Wrp {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .loginSubheader {
    font-size: 14px !important;
  }
  //<<<<<<<---------Login-----end---here---->>>>>>>
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content
    .Grid-item
    figure {
    height: 200px;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    width: 100%;
    left: 0%;
    top: -49px;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
  }

  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, max-content);
  }
  .ContinueReading_Wrapper .Grid-item .continue_btn {
    margin: 0 auto;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    grid-gap: 2rem 1rem;
  }
  .ContinueReading_Wrapper .Grid-item .continue_btn {
    font-size: 0.89em;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figcaption
    h3 {
    font-size: 1.1em;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-bookmark,
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-book-open {
    font-size: 1.4em;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .Save_heading {
    grid-gap: 1rem;
    padding: 0 0 1.2rem;
  }
  .SaveMain_Wrapper .Save_Content_wrp {
    padding: 3rem 0 3rem;
  }
  .Menu_Wrap ul {
    width: 170px !important;
  }
  //<<<<<<<---------Footer----->>>>>>>
  .Footer_Wrapper .Footer_Content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
  .Footer_Wrapper .Footer_Content {
    grid-gap: 1.5rem;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    top: -38px;
  }
  //<<<<<<<---------Footer-----end---here---->>>>>>>
}
@media only screen and (max-width: 376px) {
  .Ebook_Wrapper .MagnifierFont_Btn {
    width: 221px;
  }
  .Ebook-Content_Wrp button:nth-child(odd) {
    transform: translateX(88px) !important;
  }
  .Ebook-Content_Wrp button:nth-child(even) {
    transform: translateX(-86px) !important;
  }
  .Ebook_Wrapper .About_Book .About-book-title h5 {
    font-size: 0.89em;
  }
  .Ebook_Wrapper .About_Book .About-book-title h2 {
    font-size: 1.2em;
    line-height: 36px;
  }
  .Profile_Wrapper .Profilebtn {
    padding: 0.3rem 0.2rem !important;
    grid-template-columns: 92px 20px;
    grid-gap: 0.3rem;
    height: 38px;
    transform: translateY(-6px);
  }
  .Logo_Banner {
    left: 4% !important;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .Save_heading {
    grid-template-columns: max-content 1fr;
    grid-gap: 1rem;
    padding: 0 0 1.4rem;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figcaption
    h3 {
    font-size: 1.1em;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-bookmark,
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-book-open {
    font-size: 1.6em;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem 1rem;
  }
  .Description_wrapper
    .Otherbook_Wrapper
    .Grid_Carousel_wrp
    .Grid-item
    figcaption
    h3 {
    font-size: 14px;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading {
    padding: 1rem 0;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h2 {
    font-size: 1.1em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h5 {
    padding: 0.3rem 0 0.5em;
    font-size: 0.89em;
    line-height: 20px;
  }

  .Description_wrapper
    .Description_Content
    .Description_Right
    .About-book-detail
    > ul
    li {
    grid-gap: 0.5rem;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About-book-detail
    > ul
    li
    strong {
    font-size: 13px;
  }
  .Description_wrapper .Description_Content .Description_Left figure img {
    max-width: 80%;
  }
  .Footer_Wrapper .Footer_Content {
    grid-gap: 0.5rem;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap img {
    width: 15px;
    height: 15px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button {
    width: 102px;
    height: 32px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content
    button {
    height: 30px;
    width: 80px;
    font-size: 12px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content
    input {
    font-size: 11px;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content p {
    padding: 0.5rem 0 0;
    font-size: 12px;
    line-height: 1.5;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content
    .Grid-item
    figcaption
    h3 {
    font-size: 13px;
  }
  // .Profile_Wrapper .Profilebtn {
  //   padding: 0.3rem 0.2rem !important;
  //   grid-template-columns: 130px max-content;
  //   grid-gap: 0.3rem;
  // }
  .Profile_Wrapper {
    top: 15px;
    right: 6px;
  }
  .Profile_Wrapper .Profilebtn {
    font-size: 9px;
  }
  //<<<<<<<---------Login-------->>>>>>>
  .main_form_wrapper .Form_Wrapper {
    width: 100% !important;
  }
  .loginMainHeader {
    font-size: 22px !important;
    padding-top: 4px !important;
  }

  //<<<<<<<---------Login-----end---here---->>>>>>>
}
@media only screen and (max-width: 320px) {
  .Ebook_Wrapper .MagnifierFont_Btn {
    width: 200px;
  }
  .Ebook_Wrapper .About_Book .About-book-title h2 {
    font-size: 1em;
    line-height: 26px;
  }
  .Ebook-Content_Wrp button:nth-child(odd) {
    transform: translateX(81px) !important;
  }
  .Ebook-Content_Wrp button:nth-child(even) {
    transform: translateX(-64px) !important;
  }
  .Form_wrp {
    width: 80% !important;
  }
  .CategorySearch_wrp .css-viou3o-MuiAutocomplete-root {
    width: 100%;
  }
  .CategorySearch_wrp .MuiInputBase-fullWidth {
    width: 100%;
  }
}
