//Color---------

$star: #fe4365;
$white: #ffffff;
$black: #000000;
$heading: #333333;
$skysolid: #0298bf;
$paraText: #4e4e4e;

// --------

$transition: all 0.3s ease-in-out;
$mid: center;
$cap: capitalize;
$between: space-between;
$none: none;
$transition: "all .3s ease-in-out";
