* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  background: #e5e5e5;
  font-family: "Lora";
  letter-spacing: 0.05px;
  color: #333333;
  font-weight: 300;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora";
}

.container {
  width: 90%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora";
}

.container {
  width: 90%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.BookList_MainWrappe {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 262px 1fr;
      grid-template-columns: 262px 1fr;
  grid-gap: 1rem;
  padding: 3rem 0 0;
}

.BookList_MainWrappe .Filter-Categories_Wrapper {
  background: #f3f3f3;
}

.LoginWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.Main_HomeWrapper {
  padding: 5rem 0 0;
  background: #fff;
}

.Main_HomeWrapper .Banner_Wrapper {
  background: url(/src/assets/banner.png);
  background-size: cover;
  height: 420px;
  width: 100%;
  position: relative;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.Main_HomeWrapper .Banner_Wrapper .Banner_Content {
  position: absolute;
  top: 20%;
  right: 2rem;
  width: 30%;
}

.Main_HomeWrapper .Banner_Wrapper .Banner_Content h1 {
  font-size: 2.5em;
  text-transform: capitalize;
  line-height: 1.3;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  color: #0298bf;
  font-weight: 700;
}

.Main_HomeWrapper .Banner_Wrapper .Banner_Content p {
  padding: 1rem 0 0;
  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: 0.2px;
  line-height: 1.66;
  color: #4e4e4e;
}

.Main_HomeWrapper .Search_Wrapper {
  position: relative;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 30%;
  top: -49px;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap {
  background: #ffffff;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap .search_content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 300px max-content;
      grid-template-columns: 300px -webkit-max-content;
      grid-template-columns: 300px max-content;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap .search_content input {
  outline: none;
  border: none;
  border-bottom: 1.2px solid #4e4e4e;
  padding: 0.5rem 0.5rem 0.5rem 2.1rem;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap .search_content button {
  height: 38px;
  width: 137px;
  border-radius: 8px;
  background: #0298bf;
  border: none;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap .search_content button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.89;
  cursor: pointer;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap img {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 8px;
  top: 16px;
}

.Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .rect_Wrp {
  width: 100%;
  height: 30px;
  background: rgba(2, 152, 191, 0.5);
  border-radius: 0px 0px 16px 16px;
}

.Main_HomeWrapper .Category_Wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 6rem 0 1rem;
}

.Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp {
  padding: 4rem 0 1rem;
}

.Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp .category_Grid_Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem 1rem;
}

.Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp .category_Grid_Content .Grid-item figure {
  text-align: center;
  height: 225px;
}

.Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp .category_Grid_Content .Grid-item figure img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp .category_Grid_Content .Grid-item figcaption {
  text-align: center;
  padding: 0.2rem 1rem;
}

.Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp .category_Grid_Content .Grid-item figcaption h3 {
  font-size: 1em;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.3;
  word-spacing: 0.3;
  padding: 0.66rem 0;
}

.Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp .category_Grid_Content .Grid-item figcaption strong {
  color: #fe4365;
  font-size: 0.9em;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.3;
  word-spacing: 0.3;
}

.Main_HomeWrapper .Category_Wrapper .Pagination_wrp {
  padding: 2rem 0 1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Main_HomeWrapper .Category_Wrapper .Pagination_wrp .MuiPagination-ul .MuiPaginationItem-previousNext {
  color: #fe4365 !important;
}

.Main_HomeWrapper .Category_Wrapper .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 1rem !important;
}

.Main_HomeWrapper .Category_Wrapper .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #0298bf !important;
}

.Footer_Wrapper {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 100%;
  -webkit-box-shadow: 0px -1px 11px 5px #00000017;
          box-shadow: 0px -1px 11px 5px #00000017;
}

.Footer_Wrapper .Footer_Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 14rem;
  padding: 1rem 0 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.Footer_Wrapper .Footer_Content .foot_item .Heading_wrp h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3;
  word-spacing: 0.3;
  color: #4e4e4e;
  padding: 1rem 0 1.1rem 0;
  font-weight: 500;
}

.Footer_Wrapper .Footer_Content .foot_item ul li {
  padding: 0.5rem 0;
  list-style-type: none;
}

.Footer_Wrapper .Footer_Content .foot_item ul li a {
  text-decoration: none;
  font-size: 0.89em;
  letter-spacing: 0.3;
  word-spacing: 0.3;
  color: #4e4e4e;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.4;
  display: block;
  -webkit-transition: "all .3s ease-in-out";
  transition: "all .3s ease-in-out";
}

.Footer_Wrapper .Footer_Content .foot_item ul li a:hover {
  opacity: 0.9;
  -webkit-transition: "all .3s ease-in-out";
  transition: "all .3s ease-in-out";
}

.Footer_Wrapper .Footer_Content .foot_item ul .WhatsApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1rem;
}

.Footer_Wrapper .Footer_Content .foot_item ul .WhatsApp a > .fa-whatsapp {
  color: #fe4365;
}

.Footer_Wrapper .Footer_Content .foot_item ul .Social_Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  grid-gap: 1rem;
}

.Footer_Wrapper .Footer_Content .foot_item ul .Social_Content li {
  list-style-type: none;
}

.Footer_Wrapper .Footer_Content .foot_item ul .Social_Content li svg {
  color: #fe4365;
  font-size: 1.1em;
}

.Description_wrapper .Description_Content {
  padding: 6rem 0 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-gap: 2rem;
  width: 91%;
  margin: 0 auto 2rem;
  border-bottom: 1px solid #0298bf;
}

.Description_wrapper .Description_Content .Description_Left figure {
  max-width: 100%;
}

.Description_wrapper .Description_Content .Description_Right .About_Book .About-book-title h2 {
  color: #4e4e4e;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.20000000298023224px;
}

.Description_wrapper .Description_Content .Description_Right .About_Book .About-book-title h5 {
  padding: 0.5rem 0;
  font-size: 1.2;
  font-weight: 700;
  line-height: 23px;
  color: #4e4e4e;
  letter-spacing: 0.20000000298023224px;
}

.Description_wrapper .Description_Content .Description_Right .About_Book figcaption {
  padding: 0.8rem 0;
  border-top: 1px solid #0298bf;
  border-bottom: 1px solid #0298bf;
}

.Description_wrapper .Description_Content .Description_Right .About_Book figcaption p {
  font-size: 0.89em;
  color: #000;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
}

.Description_wrapper .Description_Content .Description_Right .About-book-detail {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 1rem;
}

.Description_wrapper .Description_Content .Description_Right .About-book-detail > ul li {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  grid-gap: 1rem;
  padding: 0.5rem 0;
}

.Description_wrapper .Description_Content .Description_Right .About-book-detail > ul li span {
  font-size: 0.89em;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  color: #333333;
}

.Description_wrapper .Description_Content .Description_Right .About-book-detail > ul li strong {
  font-size: 1em;
  font-weight: 700;
  line-height: 20px;
  color: #434242;
  letter-spacing: 0.20000000298023224px;
}
/*# sourceMappingURL=style.css.map */