.Main_HomeWrapper {
  padding: 5rem 0 0;
  background: #fff;
  .Banner_Wrapper {
    .Banner_img {
      width: 100%;
      img {
        height: 420px;
        width: 100%;
        position: relative;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
    }
    .Banner_Content {
      position: absolute;
      top: 20%;
      right: 2rem;
      width: 30%;
      h1 {
        font-size: 2.5em;
        text-transform: capitalize;
        line-height: 1.3;
        word-spacing: 0.5px;
        letter-spacing: 0.5px;
        color: $skysolid;
        font-weight: 700;
      }
      p {
        padding: 1rem 0 0;
        font-size: 1em;
        text-transform: capitalize;
        letter-spacing: 0.2px;
        line-height: 1.66;
        color: $paraText;
      }
    }
  }
  .Search_Wrapper {
    position: relative;
    .Search_Item_Wrp {
      width: max-content;
      position: absolute;
      left: 30%;
      top: -49px;
      .Search-child_wrap {
        background: $white;
        padding: 0.5rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        position: relative;
        .search_content {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: 300px max-content;
          input {
            outline: none;
            border: none;
            border-bottom: 1.2px solid $paraText;
            padding: 0.5rem 0.5rem 0.5rem 2.1rem;
          }
          button {
            height: 38px;
            width: 137px;
            border-radius: 8px;
            background: $skysolid;
            border: none;
            color: $white;
            transition: all 0.3s ease-in-out;
            &:hover {
              transition: all 0.3s ease-in-out;
              opacity: 0.89;
              cursor: pointer;
            }
          }
        }
        img {
          position: absolute;
          width: 23px;
          height: 23px;
          left: 8px;
          top: 16px;
        }
      }
      .rect_Wrp {
        width: 100%;
        height: 30px;
        background: rgba(2, 152, 191, 0.5);
        border-radius: 0px 0px 16px 16px;
      }
    }
  }
  //   ----Category--button--
  .Category_Wrapper {
    width: 85%;
    margin: 0 auto;
    padding: 6rem 0 1rem;
    .Category_Grid_Wrp {
      padding: 4rem 0 1rem;
      .category_Grid_Content {
        @include bookGrid;
      }
    }
    // --pagination--
    .Pagination_wrp {
      padding: 2rem 0 1rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .MuiPagination-ul .MuiPaginationItem-previousNext {
        color: $star !important;
      }
    }
    .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
      height: 1rem !important;
    }
    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
      border-color: $skysolid !important;
    }
  }
  // --end--here
}
