.Description_wrapper {
  .Description_Content {
    padding: 6rem 0 2rem;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 2rem;
    width: 91%;
    margin: 0 auto 2rem;
    border-bottom: 1px solid $skysolid;
    .Description_Left {
      figure {
        max-width: 100%;
      }
    }
    .Description_Right {
      .About_Book {
        .About-book-title {
          h2 {
            color: $paraText;
            font-size: 2.2em;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0.20000000298023224px;
          }
          h5 {
            padding: 0.5rem 0;
            font-size: 1.2;
            font-weight: 700;
            line-height: 23px;
            color: $paraText;
            letter-spacing: 0.20000000298023224px;
          }
        }
        figcaption {
          padding: 0.8rem 0;
          border-top: 1px solid $skysolid;
          border-bottom: 1px solid $skysolid;
          p {
            font-size: 0.89em;
            color: #000;
            font-weight: normal;
            line-height: 18px;
            letter-spacing: 0.20000000298023224px;
          }
        }
      }
      .About-book-detail {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        grid-gap: 1rem;
        > ul {
          li {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2, max-content);
            grid-gap: 1rem;
            padding: 0.5rem 0;
            span {
              font-size: 0.89em;
              font-weight: 500;
              line-height: 18px;
              letter-spacing: 0.20000000298023224px;
              color: $heading;
            }
            strong {
              font-size: 1em;
              font-weight: 700;
              line-height: 20px;
              color: $strong;
              letter-spacing: 0.20000000298023224px;
            }
          }
        }
      }
    }
  }
}
