/* Clear floats after the columns */
.row:after {
    content: "";
    display: flexbox;
    clear: both;
    justify-content: centers;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      align-items: center;
      padding: 10px;
    }
  }

@media screen and (min-width: 601px) {
    .column {
        float: left;
        width: 25%;
        align-items: center;
      }
}
